.gaegu-light {
  font-family: "Gaegu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.gaegu-regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gaegu-bold {
  font-family: "Gaegu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.niconne-regular {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-regular {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
